<!-- Navigation Starts -->
		<!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->
		<div class="navbar bs-docs-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only"><%= ENV['STUDENTCASYSTEM_NOME_ENTIDADE'] %></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<!-- Navigation links starts here -->
					<ul class="nav navbar-nav">
						<li class="">
							<%= link_to 'Home' , home_path %>
						</li>
						<!-- Navigation with sub menu. Please note down the syntax before you need. Each and every link is important. -->
						<li class="">
							<%= link_to 'Sobre nós' , sobre_path %>
						</li>   
						<li class="">
							<%= link_to 'Lei da Meia Entrada' , meia_entrada_path %>
						</li>   
						<li class="">
							<%= link_to 'Notícias' , noticias_path %>
						</li>  
						<li class="">
							<%= link_to 'Consulta' , consulta_path %>						
						</li>
						<li class="">
							<%= link_to 'Contato' , contato_path %>						
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!--/ Navigation Ends -->   